.app {
  text-align: center;
  font-family: Arial;
}

.preview {
  position: relative;
  margin: 20px auto;
  background: #eee;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.frame-list img {
  width: 70px;
  cursor: pointer;
  margin: 10px;
  border: 2px solid transparent;
}

.frame-list img:hover {
  border: 2px solid black;
}
